<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA2I5D6jzylZzc1lDP70Xjd9kgRs6hc6ok</string>
	<key>GCM_SENDER_ID</key>
	<string>846609336145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bornesan.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bornesan-daaf1</string>
	<key>STORAGE_BUCKET</key>
	<string>bornesan-daaf1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846609336145:ios:71e18ad563d6d145afb570</string>
</dict>
</plist>